################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinterSpine/WinterSpine.IdentityServer/wwwroot/lib
/WinterSpine/WinterSpine.Web/wwwroot/lib
